*.thm  
*eps-converted-to.pdf
scitech2018.pdf
*.log
*.pyc
*.out
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.synctex.gz
main.pdf
mdolab.bib
scitech2018.fdb_latexmk
scitech2018.fls
scitech2018.synctex.gz
aiaa-*
.DS_Store
code/lanczos/src_cs/*
mdolab-link.bib
__latexindent_temp.tex
*.txt


# Code related
code/lanczos/*.mk
*.autogen
*.mod
*.o
*.a
*.so
*.pyc
code/lanczos/src/temp_*
code/dymos_quadrotor/reports/
code/dynOpt/reports/
*.egg-info

